::-webkit-scrollbar {
   width: 5px;
   height: 1px;
   background-color: transparent;
}
::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background-color: #d0d0d0b0;
}
::-webkit-scrollbar-thumb:hover {
   background-color: #bdbdbd;
}
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   background-color: transparent;
}

body,
dd,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
ol,
p,
select,
td,
textarea,
th,
ul {
   margin: 0;
   padding: 0;
}

body {
   background: #fff;
   -webkit-text-size-adjust: 100%;
}

a {
   color: #172c45;
   text-decoration: none;
}

a:hover {
   color: #cd0200;
   text-decoration: underline;
}

em {
   font-style: normal;
}

li {
   list-style: none;
}

img {
   border: 0;
   vertical-align: middle;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

p {
   word-wrap: break-word;
}
